@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

.theme-dark{
    --base: #232136;
    --surface: #2a273f; 
    --overlay: #393552;
    --inactive: #59546d; 
    --subtle: #817c9c; 
    --text: #e0def4; 
    --textarea: #9ccfd8;
}

.theme-light{    
    --base: #faf4ed;
    --surface: #fffaf3; 
    --overlay: #f2e0de;
    --inactive: #9893a5; 
    --subtle: #6e6a86; 
    --text: #575279; 
    --textarea: #56949f;
}

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    color: var(--text);
}

.container{
    background-color: var(--surface);
    display: grid;
    grid-template-columns: minmax(0ppx, auto) 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: 
    'h h h'
    's m m'
    'f f f';
    height: 100vh;
    width: 100vw;
}

.header{
    grid-area: h;
    background-color: var(--surface);
}


.side{
    grid-area: s;
    background-color: var(--overlay);
    padding: 40px;
}

.side h1{
    font-size: 3rem;
}

.main{
    grid-area: m;
    background-color: var(--base);
    display: grid;
}

.top{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: right;
}

footer{
    grid-area: f;
    display: flex;
    flex-direction: row;
    background-color: var(--surface);
    justify-content: space-evenly;
    padding-top: 1rem;
}

nav li {
    font-size: 2rem;
    list-style-type: none;
    margin-right: 1rem;
}

li a{
    font-size: 2rem;
}

span{
    font-size: 2rem;
}

.note-area{
    margin: 10px;
    max-width: 500px;
}

#note{
    background-color: var(--textarea);
}

[contenteditable]{
    color: black;
    font-size: 2.8rem;
}

[contenteditable] > div{
    font-size: 2.5rem;
    color: black;
}

[contenteditable] > div:first-child{
    font-size: 2.8rem;
    color: black;
}

button{
    background-color:transparent;
    padding: 1rem;
    border: none;
    font-size: 2.5rem;
}
button:hover{
    background-color: rgba(0, 0, 0, 0.125);
}
button:active {
    background-color: rgba(0, 0, 0, .5);
}

.buttons{
    display: flex;
    justify-content: flex-start;
}

textarea{
    background-color: var(--textarea);
    font-size: 2rem;
    color: black;
    margin: 3rem;
    height: 180px;
    width: 400px;
}

h1 {
    font-size: 4rem;
}

p{
    font-size: 1.5rem;
}

@media screen and (max-width: 375px) {
    .main{
        grid-area: m;
        background-color: var(--base);
        display: grid;
        grid-template-rows: 5rem 8rem 1fr 5rem;
        grid-template-areas: 
        'h h'
        's s'
        'm m'
        'f f';
    }

    .side {
        display: flex;
        justify-content: center;
    }

    .note-area{
        max-width: 100vw;
    }

    .buttons{
        justify-content: center;
    }
    
    textarea{
        background-color:var(--textarea);
        font-size: 2rem;
        color: black;
        margin: 3rem;
        width: 150px;
        height: 150px;
    }
}

