/*
    #232136 base
    #2a273f surface
    #393552 overlay
    #59546d inactive
    #817c9c subtle
    #e0def4 text
    #eb6f92 love
    #f6c177 gold
    #ea9a97 rose
    #3e8fb0 pine
    #9ccfd8 foam
    #c4a7e7 iris
*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');


h1 {
    background-color: #2a273f;
}

* {
    font-family: 'Raleway', sans-serif;
    background-color: #232123;
    color: #e0def4;
}

@media screen and (max-width: 375px) {
}

