/*
    #232136 base
    #2a273f surface
    #393552 overlay
    #59546d inactive
    #817c9c subtle
    #e0def4 text
    #eb6f92 love
    #f6c177 gold
    #ea9a97 rose
    #3e8fb0 pine
    #9ccfd8 foam
    #c4a7e7 iris
*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');



* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    color: #e0def4;
}

.container{
    display: grid;
    grid-template-rows: 3rem 1fr 5rem;
    grid-template-columns: 150px 1fr;
    grid-template-areas: 
        'h h h'
        's m m'
        'f f f';
    gap: 5px;
    width: 100vw;
    height: 100vh;
    background-color: #2a273f;
}

.header{
    grid-area: h;
    background-color: #2a273f;
}

.side{
    grid-area: s;
    background-color: #393552;
}

.main{
    grid-area: m;
    background-color: #232136;
}

.top{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: right;
}

footer{
    grid-area: f;
    display: flex;
    flex-direction: row;
    background-color: #2a273f;
    justify-content: space-evenly;
    padding-top: 10px;
}

nav li {
    font-size: 2rem;
    list-style-type: none;
    margin-right: 1rem;
}

li a{
    font-size: 2rem;
}

.create{
    background-color:transparent;
    border: 0;
    font-size: 2.5rem;
    font-style: italic;
}

.create:hover{
    background-color: rgba(0, 0, 0, 0.125);
    padding: 0 .5rem .5rem 0;
}
.create:active {
    background-color: rgba(0, 0, 0, .5);
}

h1 {
    font-size: 4rem;
}

p{
    font-size: 1.5rem;
}

@media screen and (max-width: 375px) {
    .container{
        background-color: #3e8fb0;
    }

    p {
        font-size: 1.5rem;
    }

    h1{
        font-size: 4rem;
    }
}

